footer {
  background-color: #000;
}

.footer-text {
  padding: 40px 0;
  text-align: left;
  color: #949494;
  font-family: 'Crimson Text', sans-serif;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 1.4px;
  border-top: 1px solid #3e3e3e;
}
