.hero {
  background: url("../img/header-bg.png");
  text-align: center;
}

.slider-items__description {
  color: #ffffff;
  font-family: 'Crimson Text - Roman', sans-serif;
  font-size: 14px;
  line-height: 50px;
  letter-spacing: 1.4px;
  padding-top: 200px;
  padding-bottom: 60px;
}

h1 {
  color: #ffffff;
  font-family: 'Amsdam', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 0.89px;
  padding-bottom: 80px;
  line-height: 60px;
}

.slider-item__btn {
  background: transparent;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  letter-spacing: 1.5px;
  border: 2px solid #f2f2f2;
  padding: 15px 25px;
  margin-bottom: 200px;
}

.wave {
  max-width: 165px;
  margin: 0 auto;
  padding-bottom: 35px;
}


