.price {
  background: #e3e3e3;
}

.container-price__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 90px;
}

@media screen and (min-width: 800px) {
  .container-price__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.container-price__item {
  width: 100%;
  text-align: center;
  background: #fff;
  padding: 45px 70px 60px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

@media screen and (min-width: 450px) {
  .container-price__item {
    width: 350px;
    padding: 35px 70px 60px;
  }
}

@media screen and (min-width: 1000px) {
  .container-price__item {
    width: 370px;
    padding: 45px 70px 60px;
  }
}

.container-price__item--name {
  color: $color-text;
  font-family: $font-text;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.47px;
  padding-bottom: 25px;
}

.container-price__item--text, .container-price__item--last {
  color: $color-text;
  font-family: $font-text-cr;
  font-size: 16px;
  font-style: italic;
  line-height: 30px;
}

.container-price__item--last {
  margin-bottom: 50px;
}

.container-price__item--btn {
  color: $color-text;
  font-family: $font-text;
  font-size: 13px;
  letter-spacing: 1.47px;
  background: transparent;
  border: 2px solid $color-text;
  width: 135px;
  margin: 0 auto;
  padding: 15px 0;
  &:hover {
    color: #fff;
    background: $color-text;
  }
}

.container-price__item--cost {
  color: #3e3d3d;
  font-family: $font-text;
  font-size: 70px;
  font-weight: 700;
  padding-bottom: 50px;
}

.container-price__item--usd {
  color: $color-text;
  font-family: $font-text;
  vertical-align: top;
  font-size: 28px;
}

.container-price__item--price {
  padding-bottom: 50px;
}

.container-price__item--title {
  margin-bottom: 25px;
}

.price-image {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 50%;
}

.title:after {
  display: inline-block;
  margin: 0 0 8px -4px;
  height: 1px;
  content: " ";
  text-shadow: none;
  background-color: #000;
  width: 30px;
}
.title:before {
  display: inline-block;
  margin: 0 -4px 8px 0;
  height: 1px;
  content: " ";
  text-shadow: none;
  background-color: #000;
  width: 30px;
}

@media screen and (min-width: 500px) {
  .title:after {
    display: inline-block;
    margin: 0 0 8px -4px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #000;
    width: 50px;
  }
  .title:before {
    display: inline-block;
    margin: 0 -4px 8px 0;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #000;
    width: 50px;
  }
}