.section-about {
  background-color: #e3e3e3;
  padding: 70px 0 0 0;
}

.about-container {
  background-color: #fff;
}

h2 {
  text-align: center;
  color: #3e3d3d;
  font-family: 'Amsdam', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 60px;
  padding-bottom: 25px;
}

.about-container__text {
  color: #3e3d3d;
  font-family: $font-text-cr;
  font-size: 14px;
  padding: 0 70px 45px;
  line-height: 25px;
  letter-spacing: 1.4px;
}

.about-container__buttons {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 50px;
}

.about-container__btn {
  color: #3e3d3d;
  font-family: $font-text;
  font-size: 13px;
  background: transparent;
  width: 90px;
  padding: 15px 0;
  border: 2px solid $color-text;
  margin-right: 5px;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    color: #cecece;
    background-color: $color-text
  }
}

@media screen and (min-width: 450px) {
  .about-container__btn {
    width: 135px;
  }
}

.about-container__image {
  width: 100%;
}